<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iron Wok</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.js"></script>
</head>
<body>
    <header>
            <!-- this is the navbar -->
            <nav class="navbar navbar-expand-lg nav_margin">
                <div class="col-2">
                    <img class="logo" src="/images/iron-wok-logo.png" alt="logo">
                </div>
                <ul class="nav_links col-10 justify-content-end">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Reservations</a></li>
                </ul>
            </nav>
    </header>
    <main>
        <!-- carousel -->
        <div>
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="carousel_pic_container" src="/images/car.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img class="carousel_pic_container" src="/images/car2.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img class="carousel_pic_container" src="/images/car3.png" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div>
            <h1 class="text-center font_style_name">Moscow Idaho</h1>
        </div>

        <div class="line"></div>

        <div class="text-center font_style_addre">
            <a>2010 s Main ST, Moscow, ID 83843</a>
        </div>

        <div class="text-center font_style_num">
            <a>208-874-8007</a>
        </div>

        <div class="font_style_details">
            <h1 class="text-center">Lunch</h1>
            <p class="text-center">Monday - Sunday</p>
            <div>
                <p class="text-center">11:00am - 3:00pm</p>
            </div>
            <div class="space">
                <h1 class="text-center font_style_details">Dinner</h1>
                <p class="text-center">Monday - Sunday</p>
                <div>
                    <p class="text-center">4:00pm - 9:00pm</p>
                </div>
            </div>
            
        </div>






        <!-- bootsStrap footer -->
        <footer class="bg-light text-center text-lg-start">
            <!-- Grid container -->
            <div class="container p-4">
              <!--Grid row-->
              <div class="row">
                <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <img class="logo_footer" src="/images/iron-wok-logo.png" alt="logo">
                </div>
                <!--Grid column-->
          
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                  <h5 class="text-uppercase"></h5>
                  <ul class="list-unstyled mb-0">
                  </ul>
                </div>
                <!--Grid column-->
          
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                  <h5 class="text-uppercase mb-0">Links</h5>
          
                  <ul class="list-unstyled">
                    <li>
                      <a href="#!" class="text-dark">Menu</a>
                    </li>
                    <li>
                      <a href="#!" class="text-dark">About</a>
                    </li>
                    <li>
                      <a href="#!" class="text-dark">Contact</a>
                    </li>
                    <li>
                      <a href="#!" class="text-dark">Reservations</a>
                    </li>
                  </ul>
                </div>
                <!--Grid column-->
              </div>
              <!--Grid row-->
            </div>
            <!-- Grid container -->
          
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
              © 2023 Iron Wok. All rights reserved:
              <a class="text-dark" href="#">Privacy Policy</a> | <a class="text-dark" href="#">Terms of Use</a>
            </div>
            <!-- Copyright -->
          </footer>
          
          
    </main>
            

</body>
</html>
