@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html {
  background-color: rgb(255, 255, 255); /* this controls the whole page color */
}

body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: gray;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  margin: 0;
}

main {
  flex-grow: 1; 
}

a {
  color: #00B7FF;
}

/* Style the navigation bar */
nav {
  display: flex;
  background-color: rgb(255, 255, 255);
}

/* Style the links inside the navigation bar */
.nav_links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Style the navigation links */
.nav_links li {
  color: white;
}

.nav_links li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
  font-family: 'Montserrat';
}

/* Change color on hover */
.nav_links li a:hover {
  border-bottom: 3px solid rgb(0, 0, 0);
  padding: 5px;
  margin: 2px;
}

/* Style the logo */
.logo {
  width: 75%; /* Adjust size as needed */
  height: auto;
  padding: 10px;
}

/* font style */
.font_style_name {
  font-family: 'Montserrat';
  margin-top: 3.5%;
  margin-bottom: 1.5%;
}

.font_style_addre {
  font-family: 'Montserrat';
  margin-top: 3.5%;
}

.font_style_num {
  font-family: 'Montserrat';
  margin-top: 1%;
}

.font_style_details {
  font-family: 'Montserrat';
  margin-top: 2%;
}


.carousel_pic_container {
  width: 100%;
  height: 800px; /* Set height to your desired value */
  object-fit: cover;
}

.nav_margin {
  margin-right: 2.5%;
  margin-left: 2.5%;
}

.line {
  width: 15%;  /* Adjust as needed */
  height: 2px;
  background-color: rgb(0, 223, 22);  /* Adjust as needed */
  margin: 0 auto;
}



.footer {
  flex-shrink: 0;  /* This ensures the footer doesn't shrink when the window's height decreases */
  height: 100px; /* Or the height you prefer */
  background-color: #f8f9fa; /* Or the color you prefer */
  /* Other footer styles... */
}

.space{
  margin-bottom: 10%;
}


/* Apply these styles when the screen size is 768px or smaller */
@media (max-width: 768px) {
  /* Make the nav menu stack on smaller screens */
  nav {
    flex-direction: column;
  }

  /* Expand the logo a bit on smaller screens */
  .logo {
    width: 280%;
  }

}

/* Apply these styles when the screen size is above 2560px */
@media (min-width: 2560px) {
  /* Reduce the logo size on larger screens */
  .logo {
    width: 50%; /* Adjust size as needed */
  }
}
